.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 500px;
    border: 5px solid #000;
    height: 500px;
}

.grid-item{
    width: calc(100% / 16); 
    height: calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 0;
}

.prompt{
    margin: 10px;
    display: flex;
    align-items: center;
}

.sizeButton{
    width: 200px;
    height: 40px;
}

button{
    margin: 10px;
}